body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    /* font-family: 'Cormorant Garamond', serif; */
}

h1 {
    font-family: 'Cormorant Garamond', serif;
}

button {
    cursor: pointer;
    transition: 0.5s;
    border-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* navbar */

nav {
    display: flex;
    justify-content: center;
    background-color: #8da278;
    /* background-color: #f2a896; */
    background-color: #a59282;
    /* background-color: #9FA2B2; */
    /* background-color: #9b826f; */
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    width: 550px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: auto;
}

nav li {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.icons {
    display: flex;
    align-items: center;
    list-style: none;
}

.icons li {
    margin-left: 15px;
}

nav li:hover, .nav-active {
    color: #fce3dd
}

.menu-icon:hover .bar {
    background-color: #fce3dd;
}

/* Hamburger icon */

.menu-icon {
    display: none; /* Hide by default for wider screens */
    cursor: pointer;
    margin-top: 9px;
    margin-left: 40px;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Responsive styles for smaller screens */

@media screen and (max-width: 1000px) {
    .menu-icon {
        display: block;
    }

    .menu {
        display: none; /* Hide the menu items by default */
    }

    .menu.active {
        display: block; /* Show the menu items when active */
    }

    
    nav ul{
        width: auto;
        height: 130px;
        background-color: #a59282;
        margin-top: 50px;
        position: absolute;
        padding: 10px;
        line-height: 2em;
    }

    nav {
        justify-content: center;
    }

    .icons {
        margin-right: 30px;
    }
}


/* frontpage */

.front-frame {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 50px;
}

.main-img {
    width: 1800px;
    align-self: center;
    height: 830px;
    object-fit: cover;
}

.flower {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flower-head {
    width: 50px;
    height: 15px;
    border-radius: 40px;
    background-color: #efcac0;
}
  
.flower-head::after, .flower-head::before {
    content: '';
    position: absolute;
    background-color: #efcac0;
    border-radius: 40px;
    width: 50px;
    height: 15px;
    transform: rotate(60deg);
}
  
.flower-head::before {
    transform: rotate(-60deg);
}

.logo {
    position: absolute;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1800px;;
    padding-top: 10px;
    padding-bottom: 10px;

}

.small-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #56394b;
    border-radius: 50%;
}

.front-frame h1 {
    text-transform: uppercase;
    font-size: 70px;
    margin: 0;
    font-weight: bold;
    color: #56394b;
    z-index: 10;
}

.front-frame p {
    font-style: italic;
    position: absolute;
    align-self: center;
    padding-top: 670px;
    font-size: 42px;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    .front-frame p {
        margin-top: 40px;
        font-size: 26px;
    }
    .front-frame h1 {
        font-size: 50px;
    }

    .flower-head {
        width: 40px;
        height: 13px;
        border-radius: 40px;
    }
    
    .flower-head::after, .flower-head::before {
        border-radius: 40px;
        width: 40px;
        height: 13px;
    }

}

/* new items */

.new-view {
    position: absolute;
    margin-top: 950px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.new-container {
    height: 700px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 75%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.new-container h1{
    position: absolute;
    font-size: 42px;
    align-self: flex-start;
    color: #56394b;
    margin-top: 20px;
}

.new-button{
    position: absolute;
    align-self: flex-end;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 26px;
    padding: 15px;
    border: 2px solid #56394b;
    /* background-color: #A4907C; */
    background-color: #ffffff;
    color: #56394b;
    border-radius: 4px;
}

.new-items {
    align-self: center;
    display: inline-block;
    list-style: none;
    padding: 0;
    transition: 0.6s;
}

.new-items li {
    margin-right: 20px;
    display: inline-block;
    overflow: hidden;
}

.new-items li img {
    width: 300px;
    aspect-ratio: 2/3;
    object-fit: cover;
    box-shadow: 1px 1px 20px #2024433a;
    transition: transform 0.3s;
}

.new-items li:hover img {
    transform: scale(1.03);
}


.arrow {
    border: solid #500232;
    border-width: 0 5px 5px 0;
    padding: 10px;
    z-index: 200;
    background-color: #ffffff;
    align-self: center;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@media screen and (max-width: 500px) {
    .arrow {
        padding: 5px;
    }
    .new-view {
        width: 100%;
    }
}

/* rooms view */

.rooms-view {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 850px;
    gap: 10px;
    margin-bottom: 1000px;
    background-color: #fdf2ef;
    padding: 50px;
    height: 550px;
}

.rooms-view img {
    width: 600px;
    height: 400px;
    align-self: flex-end;
}

.rooms-view h1 {
    color: #56394b;
    position: absolute;
    align-self: flex-start;
    font-size: 42px;
}

/* shop grid */

.search-container {
    margin-top: 100px;
    position: absolute;
  }
  
  .shop-search {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 250px;
  }
  
  .search-button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: #56394b;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .search-button i {
    color: #ffffff;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin-top: 200px;
    justify-content: center;
    margin-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .grid-item {
    aspect-ratio:8/10;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 10px #a5928269;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
  }

  .grid-item:hover {
    transform: scale(1.02);
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }
  
  .item-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    background-color: #EEEAE7;
    width: 100%;
    bottom: 0;
    font-size: 20px;
  }


/* responsive adjustments */

@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 0.5fr);
    }
    .zoomed-item-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 0.7fr;
    }
}

/* item zoomed shop */

.zoomed-item-container {
    display: grid;
    margin-top: 150px;
    background-color: #f2f2f2;
    max-width: 1200px;
    width: 90%;
    box-shadow: 1px 1px 20px #2024433a;
}

.item-info {
    line-height: 2em;
    font-size: 30px;
    text-align: center;
    align-self: center;
}

.item-price {
    font-size: 22px;
    color: #202443;
}

.item-name, .item-price {
    margin: 0;
}

.item-image {
    width: 100%;
}

.input {
    appearance: textfield; 
    width: 70px;
    height: 30px;
    padding: 8px 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    text-align: center;
  }

  .input:focus {
    box-shadow: 0 0 4px #E6B61D;
    border-color: #E6B61D;
  }

  .input::-webkit-inner-spin-button,
  .input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.input-wrapper {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 30px;
}

.input-control {
    display: flex;
}

.input-control button {
    background-color: #202443;
    color: #f2f2f2;
    width: 25px;
    height: 25px;
    font-size: 20px;
}

.input-control button:hover {
    background-color: #383e6ff6;
}

.plus {
    border-top-right-radius: 4px;
}

.minus {
    align-self: flex-end;
    justify-self: flex-start;
    position: absolute;
    border-bottom-right-radius: 4px;
}

.add-cart {
    border: none;
    background-color: #E6B61D;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.add-cart:hover, .cart-total-container button:hover {
    background-color: #e6b71dc6;
}

@media screen and (min-width: 1101px) {
    .zoomed-item-container {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 1100px) {
    .zoomed-item-container {
        grid-template-columns: 1fr;
    }
    .item-info {
        padding:15px;
    }
}

/* cart */

.cart-header {
    font-size: 40px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #56394b;
}

.cart-container {
    display: flex;
    margin-top: 200px;
    width: 100%;
    justify-content: center;
    position: absolute;
    gap: 30px;
}

.cart-items-container{
    text-align: center;
    font-size: 18px;
    width: 400px;
}

.cart-item-box {
    background-color: #f7f4f1;
    padding: 50px;
    margin-bottom: 30px;
}

.cart-plus-button {
    background-color: #500232;
    color: #ffffff;
    width: 40px;
    padding-bottom: 5px;
    font-size: 24px;
}

.cart-total-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff8f6;
    width: 400px;
    height: 350px;
    font-size: 24px;
    text-align: center;
}

.cart-total-container button{
    background-color: #56394b;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
}

.cart-item-image {
    width: 200px;
}

.cart-item-name {
    font-size: 22px;
    font-weight: 700;
}

.cart-item-total {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 1000px) {
    .cart-total-container {
        position: absolute;
    }
    .cart-items-container {
        position: absolute;
        margin-top: 380px;
    }
}